<div class="navigation bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 m-0 p-0">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="<%=__conf.prefix.index%>">Welcome</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="<%=__conf.prefix.index%>">Home</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>